*.js text eol=lf
*.mjs text eol=lf
*.ejs text eol=lf
*.html text eol=lf
*.json text eol=lf
*.php text eol=lf
.github/workflows/build-docker.yaml merge=ours
.github/workflows/ci-deploy.yml merge=ours
.gitattributes merge=ours
